@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poiret+One&display=swap");

$mainAccent: #0e1431;
$headingFont: "Poiret One", cursive;
$contentFont: "Josefin Sans", sans-serif;
$special: #f0f0f0;

@mixin heading($special) {
    font-family: $headingFont;
    color: $special;
    text-align: center;
    margin-top: 0px;
  }