
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@font-face {
    font-family: blame;
    src: url('Fonts/BLAME.ttf')
    /* this font is stored locally */
}

* {
    /* wildcard refernce changes everyhting */
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: blame;
}

header{
    background-color: silver;
    /* background-color: black; */
    text-align: center;
}

footer{
    background-color: silver;
}

body{
background-color:whitesmoke
}

/* When referencing a class make sure then is a . beforehand */
p {
    text-align: center;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Sedgwick Ave Display', cursive;
}

.MyClass2{
    float: right;
}

h1{
    color: black;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

img{
    float: left;
}

#leftNav{
    background-color: silver;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: left;
    width: 10%;
}

ul{
    list-style: none;
}

a:hover{
    color: blue;
}